header {

    display: flex;
    justify-content: space-evenly;
}

#logo {
    width: 100%;
}

#promo {

    flex: content;
    flex-direction: left;
}

.introduction {

    color: yellowgreen;

}

body {

    background: url("/FRONT/STATIQUE/HTML/Jarditou/projet_jarditou/assets/img/outils-jardinage-plantes.jpg") fixed no-repeat center/cover;

    font-family: "Arial Black", Georgia, Times, 'Times New Roman', serif;
    height: 100vh;
    margin: 0px;
}


p

/*couleur des paragraphes*/
    {
    color: greenyellow;
    text-transform: lowercase;
    letter-spacing: 1px;
    font-size: 1.8em;
    text-align: left;
    font-family: "Arial Black", Georgia, Times, 'Times New Roman', serif;
}

hr {
    color: coral;
}

article {
    text-align: left;
    max-width: 75%;
    line-height: 2.5em;
    word-spacing: 0px;
}

/*aaa=Section+Aside*/
#aaa {
    display: flex;
    margin: 10px;

}


#promo {

    background: url(./assets/img/promotion.jpg) center;
    width: 100%;

}


h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 2.5em;
    text-align: center;
    font-family: "Arial Black", Georgia, Times, 'Times New Roman', serif;
    color: coral;
}

h2

/*couleur des titres h2*/
    {
    text-transform: lowercase;
    margin: 1em;
    letter-spacing: 2px;
    font-size: 2.5em;
    text-align: left;
    font-family: "Arial Black", Georgia, Times, 'Times New Roman', serif;
    color: coral;
}

/* liens */

.nav_liens {
    display: flex;
    padding: 30px;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    background-color: rgba(100, 135, 25, 0.650);
    height: 5%;
}

li a {

    color: coral;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 2.5em;

}

li a:hover {
    color: red;
}

aside {
    display: flex;
    float: right;
    background-color: rgba(100, 135, 25, 0.650);
    width: 300px;
    height: 600px;
}


/* page tableau */

table {


    display: flex table-column;
    width: 75%;
    border-collapse: collapse;
    color: greenyellow;
    font-size: 2.5em;
    text-align: center;
    border: none;
}



td {
    display: flex row;
    color: coral;
}

tr:nth-child(even) {
    background-color: rgba(172, 255, 47, 0.281);
    color: greenyellow;

}

#photo {
    background-color: rgba(100, 135, 25, 0.650);

}

/* page formulaire */

#formulaire {

    display: flex;
    color: greenyellow;
    width: 75%;
    font-size: 2.5em;
}

#cgu {

    display: inline-flex;
    color: greenyellow;
    max-width: 100%;
    font-size: 2.5em;
}

.bouton_cgu {
    display:flex;
    justify-content: space-around;
}

.encadrement {
    border: none;
}

input {
    background-color: whitesmoke;
    width: 25em;
    height: 2.5em;
    border:solid 2px;
    border-color: coral

}

input:hover {
    color: red;
}

#sujet {
    width: 20em;
    height: 2.5em;
}


@media screen and (max-width:768px) {

    p,
    H1,
    H2 {
        text-align: center;
    }

    aside {
        display: none;
    }

    article {
        justify-content: center;
        max-width: 100%;
    }

    table {
        justify-content: center;
        font-size: 35px;
    }

    .nav_liens {
        flex-direction: column;
        height: auto;
    }

    #promo {
        width: 100%;
    }

    header {
        width: 100%;
    }

    #formulaire {

        display: inline;
        border: solid none;
        width: 100%;
        font-size: 1.75em;
    }
}